 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{{>header}}
</head>
<body>
{{>navbar}}
  {{!-- Hero section starts --}}
         <div class="container-fluid mt-5 secret">
            <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-lg-12 col-12 hero-text d-flex justify-content-center align-items-center flex-column order-1">
                       <h1 class="fs-1 fst-italic fw-bold">Welcome,to mernstack course we heartly welcome to you</h1>
                       <p>hello,<span>i am prem pachabhaiya</span> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Corrupti dignissimos, officia aspernatur cupiditate saepe consequuntur. Lorem, ipsum dolor sit amet consectetur adipisicing 
                        elit. Tenetur molestiae hic dolorum odit blanditiis maxime inventore aspernatur voluptates!
                         Explicabo quibusdam culpa omnis quas a expedita unde dolorum facilis rem . 
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolores accusantium sunt
                          quam eius iste aliquid laboriosam. Impedit, minus illo? Quas iste id soluta numquam, magni molestias atque. 
                         Ducimus iusto sapiente debitis dolore sunt quam at nostrum maxime neque explicabo.</error></p>
                    </div>
                    <div class="col-12 hero-text order-2">
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="row d-flex justify-content-center align-items-center flex-row  col-12">
                                    <div class="col-md-3 card">
                                        <img src="https://images.pexels.com/photos/3585095/pexels-photo-3585095.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                                     <div class="card-body">
                                        <h5 class="card-title">nova ladiska</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div>
                                    <div class="col-md-3 card">
                                        <img src="https://images.pexels.com/photos/11181665/pexels-photo-11181665.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                                     <div class="card-body">
                                        <h5 class="card-title">smith cartlier</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div>
                                    <div class="col-md-3 card">
                                        <img src="https://media.istockphoto.com/id/1440149723/photo/happy-man-social-media-phone-and-living-room-relax-typing-smartphone-and-online-communication.jpg?b=1&s=612x612&w=0&k=20&c=Ame1wpB2nDwOcfiAPE2oFbwaddAajPLgwG5l6k4H250=" class="card-img-top" alt="...">
                                     <div class="card-body">
                                        <h5 class="card-title">jhon doe</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div>
                                    <div class="col-md-3 card">
                                        <img src="https://media.istockphoto.com/id/1420486889/photo/candid-portrait-of-young-middle-eastern-digital-native.jpg?b=1&s=612x612&w=0&k=20&c=UiqM76EUPIKf0_dngsgutOGn8gLE37hVxowsK-o2GD8=" class="card-img-top" alt="...">
                                     <div class="card-body">
                                        <h5 class="card-title">andrilla jhonson</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                </div>
              </div>
            </div>
         </div>
    </body>
</html>